/*
  VARAIBLES 
*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: none;
}

/*
  HAMBURGER MENU 
*/
/*
  CURSOR
*/
.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border: 2px solid #086C2A;
  border-radius: 100px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  z-index: -1;
}

/*
  FONT  
*/
@font-face {
  font-family: "Switzer";
  src: url(fonts/Switzer-Italic.otf);
  src: url(fonts/Switzer-Medium.otf);
  src: url(fonts/Switzer-MediumItalic.otf);
  src: url(fonts/Switzer-Regular.otf);
  src: url(fonts/Switzer-Semibold.otf);
  src: url(fonts/Switzer-SemiboldItalic.otf);
}
@font-face {
  font-family: "DM-Serif-Text";
  src: url(fonts/DMSerifText-Regular.ttf);
  src: url(fonts/DMSerifText-Italic.ttf);
}
/*
  NAV BAR
*/
    
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -4vh;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2rem;
}

.homeNav {
  color: #086C2A;
  text-decoration: none;
}

/*
  FONT SIZE
*/
h1 {
  margin-top: -1vw;
  margin-bottom: -1vw;
  font-size: 55px;
  color: #086C2A;
  font-family: "Switzer", sans-serif;
  font-weight: 400;
}

.h1Serif {
  margin-top: -1vw;
  margin-bottom: -1vw;
  font-size: 55px;
  color: #086C2A;
  font-family: "DM-Serif-Text", serif;
  font-weight: 550;
  font-style: italic;
}

h2 {
  margin-top: 1vw;
  margin-bottom: -0.1vw;
  font-size: 30px;
  font-family: "Switzer", sans-serif;
  font-weight: 500;
}

.h2Serif {
  margin-top: 1vw;
  margin-bottom: -0.1vw;
  font-size: 45px;
  font-family: "DM-Serif-Text", serif;
  font-weight: 550;
  font-style: italic;
}

h3 {
  font-size: 25px;
  font-family: "Switzer", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "Switzer", sans-serif;
  font-weight: normal;
}

p {
  color: #838383;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
}

header h4 {
  color: #086C2A;
}

/*
  DESIGN ELEMENTS
*/
body {
  background: #FFFDFB;
  padding: 2vw;
  font-family: "Switzer", sans-serif;
  font-weight: normal;
}

/*
  LAYOUT 
*/
.homePage {
  margin-top: 27vh;
}

.element {
  margin-bottom: 2vw;
}

.element2 {
  margin-bottom: 2rem;
  border-top: solid #CFCFCF;
  border-width: 2px;
}

.selectedWork {
  margin-bottom: 2rem;
  border-top: solid #CFCFCF;
  border-width: 2px;
}

.elementBio {
  margin-bottom: 2rem;
}

.elementBio2 {
  margin-bottom: 2rem;
  margin-top: -1.5rem;
}

/*
  BIO PAGE 
*/
.elementBio h2 {
  color: #086C2A;
  padding-left: 1px;
  padding-right: 10px;
  max-width: 40rem;
}

.greenHeader {
  color: #086C2A;
  padding-left: 1px;
  padding-right: 10px;
  max-width: 40rem;
  margin-bottom: 2vh;
}

.wrapper img {
  top: 0;
  position: relative;
  max-width: 100%;
  max-height: 600px;
}

.elementBio p {
  margin-top: 5vh;
  margin-bottom: 3vh;
  max-width: 40rem;
  padding-left: 1px;
  padding-right: 10px;
}

.elementBio h3 {
  font-size: 20px;
  margin-bottom: -1vh;
}

/*
  HOME PAGE
*/
.homePage h1 {
  max-width: 70vw;
}

.spaceDownOne {
  margin-bottom: 6vh;
}

.spaceDownTwo {
  margin-bottom: 8vh;
}

.footerType h2 {
  margin-top: 3vh;
  font-size: 40px;
  color: #086C2A;
  margin-bottom: 5vh;
}

.footer-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -8vh;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.footerLink {
  color: #272727;
  text-decoration: none;
  -webkit-transition: -webkit-text-decoration 0.5s ease-in-out;
  transition: -webkit-text-decoration 0.5s ease-in-out;
  transition: text-decoration 0.5s ease-in-out;
  transition: text-decoration 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
}

.footerLink:hover, .footerLink:focus {
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}

.footer-bar {
  font-size: 20px;
}

/*
  INTERACTIVE ELEMENTS
*/
.navLink {
  color: #086C2A;
  text-decoration: none;
}

.navLink:hover, .navLink:focus {
  cursor: pointer;
  text-decoration: underline;
}

.navBarLink {
  color: #086C2A;
  text-decoration: none;
  background-color: #FFFDFB;
  border-radius: 12px;
  padding: 0.5rem;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.navBarLink:hover, .navBarLink:focus {
  cursor: pointer;
  background-color: #086C2A;
  padding: 0.5rem;
  border-radius: 12px;
  color: white;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.inText {
  color: #086C2A;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

.inText:hover, .inText:focus {
  display: inline;
  padding: 0.2rem;
  background-color: #086C2A;
  color: #FFFDFB;
  text-decoration: none;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #086C2A;
  border: solid 2px #086C2A;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-right: 0.5rem;
  margin-bottom: 1vh;
}

.button-nav:hover, .button-nav:focus {
  background-color: #086C2A;
  border: solid 2px #086C2A;
  color: white;
}

.button-temp {
  display: inline-block;
  padding: 0.5rem;
  color: #086C2A;
  border: solid 2px #086C2A;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-right: 0.5rem;
  margin-bottom: 1vh;
}

.button-temp:hover, .button-temp:focus {
  background-color: #086C2A;
  border: solid 2px #086C2A;
  color: white;
}

.bioText-link {
  cursor: pointer;
  display: inline;
  text-align: left;
  color: #086C2A;
  margin-top: 2rem;
  margin-right: 1rem;
  text-decoration: underline;
}

.bioText-link:hover, .bioText-link:focus {
  text-decoration: none;
  color: #086C2A;
}

/*
  FORM
*/
#FormInput {
  width: 30rem;
  padding: 10px;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=text], input[type=email], input[type=tel] {
  width: 15rem;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #086C2A;
}

input[type=text]:focus, input[type=text]:hover {
  color: #272727;
  border: 2px solid #272727;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.boldText {
  color: #272727;
  font-weight: 600;
}

/*
  FLEXBOX 
*/
.projectListing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.wrapperTem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3rem;
}

/*
  PROJECT LISTING 
*/
figure {
  max-width: 700px;
  max-height: 400px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.productItem {
  position: relative;
  max-width: 700px;
  height: auto;
  overflow: hidden;
  padding: 5px;
}

.productItem img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.15);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.productItem figure img {
  -webkit-transform: scale(1);
  transform: scale(0.999);
  -webkit-transition: 0.3s ease-in-out;
  max-width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}

.textBox h3 {
  margin-top: -0.1vw;
}

.textBox h2 {
  margin-bottom: 0.5vh;
  margin-top: -0.3vh;
}

.productBorder {
  /* border: solid #353535 1px; */
  margin: 1vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.productBorder:hover, .productBorder:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(232, 198, 214, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(232, 198, 214, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productBorder img {
  border-radius: 8px;
}

/*
  PROCESS ANALYSIS
*/
.grid {
  display: -ms-grid;
  display: grid;
}

.grid.add-gutters {
  margin-top: 3rem;
  margin-bottom: 3rem;
  grid-column-gap: 1rem;
  grid-row-gap: 0.25rem;
}

.grid.two-column {
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
}

.grid.two-column > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid.two-column > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid p {
  max-width: 47rem;
}

.elementBio2 h2 {
  color: #086C2A;
  max-width: 40rem;
}

.colourGreen h2 {
  color: #086C2A;
  max-width: 40rem;
}

.element2 h2 {
  color: #086C2A;
  max-width: 40rem;
}

.processImg {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

.vidImg {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.title h2 {
  font-size: 40px;
  font-weight: 600;
  max-width: 100%;
}

.title h3 {
  margin-top: -0.1vh;
  font-weight: 400;
  color: #086C2A;
}

.centerQuestion {
  font-size: 40px;
  font-weight: 600;
  max-width: 100%;
  text-align: center;
  color: #086C2A;
  margin-bottom: 7vh;
}

/*
  TEMPLATE
*/
.templateImg {
  overflow: hidden;
  position: relative;
  width: 70%;
  height: 100%;
  margin-top: 5vh;
}

.wrapperTemp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapperTemp img {
  overflow: hidden;
  max-height: 40rem;
  max-width: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.wrapperTemp img:hover {
  border-radius: 50%;
  border: solid 5px #086C2A;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.wrapper img {
  border: solid 5px #FFFDFB;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.wrapper img:hover {
  -webkit-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  border: solid 5px #086C2A;
}

.wrapperTemp h2 {
  margin-top: 1vw;
  margin-bottom: -0.1vw;
  font-size: 40px;
  font-family: "Switzer", sans-serif;
  font-weight: 500;
  color: #272727;
}

.h2Temp {
  margin-top: 1vw;
  margin-bottom: -0.1vw;
  font-size: 40px;
  font-family: "DM-Serif-Text", serif;
  font-weight: 550;
  font-style: italic;
  color: #086C2A;
}

/*
  IMAGE ANIMATION
*/
.block[data-fx="2"] a::after,
a.content__text-link[data-fx="2"]::after {
  content: "";
  z-index: -1;
  width: 100%;
  bottom: 0.25rem;
  left: 0;
  position: absolute;
  height: 2px;
  background: currentColor;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

a.content__text-link[data-fx="2"]::after {
  bottom: 0;
}

.block[data-fx="2"] a:hover::after,
a.content__text-link[data-fx="2"]:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.hover-reveal {
  position: fixed;
  width: 290px;
  height: 190px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
}

.hover-reveal__deco {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181314;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
}

.block-link {
  cursor: pointer;
}

/*
  MEDIA QUERIES 
*/
@media screen and (width < 60rem) {
  .grid.two-column {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
  .grid.two-column > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer-bar {
    display: block;
  }
}
@media screen and (width < 90rem) {
  .wrapperTemp {
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (width < 92rem) {
  .projectListing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (width < 60rem) {
  h1 {
    font-size: 6vw;
  }
  .h1Serif {
    font-size: 6vw;
  }
  h2 {
    font-size: 4vw;
  }
  h3 {
    font-size: 3vw;
  }
  .footerType h2 {
    font-size: 5vw;
  }
  .h2Serif {
    font-size: 6vw;
  }
  h4 {
    font-size: 3vw;
  }
  .title h2 {
    font-size: 5vw;
  }
  .title h3 {
    font-size: 3vw;
  }
  p {
    font-size: 3vw;
    line-height: 3.5vh;
  }
  .wrapperTemp h2 {
    font-size: 5vw;
  }
  .h2Temp {
    font-size: 5.5vw;
  }
  .bioText-link {
    display: block;
  }
}